.card{
    border-radius: 10px;
    width: 30vw;
    
}
.cartCard{
 width: 20vw;
 align-items: center;
}
.text-left{
    align-self: flex-start !important;
    padding: 2px;
}
.display-none{
    display: none;
}